@mixin mainPageTitle {
  position: relative;
  font-size: 2rem;
  font-weight: 600;
  width: fit-content;
  margin: 7rem auto 4rem;
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 60%;
    height: 3px;
    background-color: map-get($mainColors, main-3);
    border-radius: 1px;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
  }
}
