$transitions: (
  fast: .3s,
  middle: .5s,
  slow: .8s,
  verySlow: 1s
);

$mainColors: (
  main-1: #fb5c7d,
  main-2: #2cd34a,
  main-3: #0080ff,
  main-4: #D6EBFF,
  main-5: #da2c2c,
  light: #f1f1f1,
  white: #fff,
  black: #000,
  gray: #5a6671,
  purple: #a282e3,
  yellow: #c8d046,
  google: #fbbc05,
  dark: #00293b,
  green: rgb(49, 148, 49)
);

$indents: (
  small: .3rem,
  middle: .6rem,
  big: .9rem,
  veryBig: 1.5rem
);

$fontSizes: (
  small: .8rem,
  normal: 1rem,
  big: 1.2rem,
  veryBig: 1.5rem,
  gigant: 2rem
);